<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>soundspoon</title>
    <link rel="icon" href="{{ url_for('static', filename='img/spoon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared-style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexi.css') }}">
    <script src="{{ url_for('static', filename='js/scripti.js') }}"></script>
  </head>
  <body onload="setColor()">
    <!-- Main page body -->
    <div class="page">
      <!-- Banner at the top of the page for navigation -->
      <a href="/">
      <header>
        <i class="fas fa-home fa-lg home-button"></i>
        <h1 class="header-title">
          soundspoon
        </h1>
      </header>
      </a>

      <!--Section for showing reviews-->
      <div class="reviews">
        {% for review in data %}
        <a href="{{ data[review].href }}">
            <div class="review">
                <img
                src="../static/img/{{ data[review].albumArt }}"
                alt="{{ data[review].albumName }}"
                width="100%"
                />
                <h1>{{ data[review].albumName }}</h1>
            </div>
        </a>
        {% endfor %}
      </div>

      <footer>
        <div class="social-icons">
            <a href="https://www.reddit.com/user/soundspoonofficial" target="_blank">
                <i class="fab fa-reddit-alien fa-lg social-icon"></i>
            </a>
            <a href="https://twitter.com/soundspoonoff" target="_blank">
                <i class="fab fa-twitter fa-lg social-icon"></i>
            </a>
        </div>
    </footer>
    </div>
  </body>
</html>
