<!--
TODO:
Resizing text in the album info dev (such as for score and fore album name / artist name...)
Make website compatible with different devices


-->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ data.album.title }} Review</title>
    <link rel="icon" href="{{ url_for('static', filename='img/spoon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/j.css') }}">
    <script src="{{ url_for('static', filename='js/scripth.js') }}"></script>
  </head>
  <body onload="setColor()">
    <!-- Main page body -->
    <div class="page">
      <!-- Banner at the top of the page for navigation -->
      <a href="/">
      <header>
        <i class="fas fa-home fa-lg home-button"></i>
        <h1 class="header-title">soundspoon</h1>
      </header>
      </a>

      <div class="album">
        <div class="album-info">
          <div class="album-info-text">
            <a class="album-title">{{ data.album.title }}</a>
            <br />
            <a class="artist-name">{{ data.album.artist }}</a>
            <p>{% for n in range(data.album.score | int) %}
            &#x{{ data.album.emojiCode }};
            {% endfor %}</p>
          </div>
        </div>

        <div class="rating">
          <img
            src="{{ url_for('static', filename='img/daytona.jpg') }}"
            alt="Daytona"
            width="100%"
            style="filter: blur(6px);"
          />
          <a class="score">{{ data.album.score }}</a>
        </div>

        <div class="review-info">
          <div class="test-class">
            <a class="review-info-text">Jon&nbsp;Martin<br />
              March&nbsp;26th,&nbsp;2019</a>
          </div>
        </div>
        <br style="clear: both;" />
      </div>

      <!--Container for the actual review-->
      <div class="review">

        <p style="display: inline-block;"><b>Standout Tracks</b>: </p>
        {% for song in data.review.songs if data.review.songs[song].extra == 'standout' %}
        <p style="display: inline-block;">{{data.review.songs[song].name}}{% if loop.last != true %}, {% endif %}</p>
        {% endfor %}
        <br/>

        <p style="display: inline-block; padding-top: 10px;"><b>Tracks to Avoid</b>: </p>
        {% for song in data.review.songs if data.review.songs[song].extra == 'avoid' %}
        <p style="display: inline-block;">{{data.review.songs[song].name}}{% if loop.last != true %}, {% endif %}</p>
        {% endfor %}

        <h2><u>Overview</u></h2>
        <p>{{ data.review.overview }}</p>
        <br />

        <h2><u>Track by Track</u></h2>
        {% for song in data.review.songs %}
        <a class="lyric-link" href="{{ data.review.songs[song].lyrics }}" target="_blank">
                <h4 class="{% if data.review.songs[song].extra == 'standout' %}standout-track{% elif data.review.songs[song].extra == 'avoid' %}bad-track{% endif %}">
                    {{ data.review.songs[song].name }} <i class="fas fa-external-link-alt" style="color: white"></i>
        </h4></a>
            <p>{{ data.review.songs[song].desc }}</p>
            <br />
        {% endfor %}

        <h2><u>Wrapping Up</u></h2>
        <p>{{ data.review.summary }}</p>
      </div>

      <!--Might not include this, who knows.-->
      <div class="footer"></div>
    </div>
  </body>
</html>
