<!--
TODO:
Resizing text in the album info dev (such as for score and fore album name / artist name...)
Make website compatible with different devices


-->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Album Review Layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <!-- Main page body -->
    <div class="page">
      <!-- Banner at the top of the page for navigation -->
      <header>
        <h1 class="header-title">soundspoon</h1>
      </header>

      <div class="album">
        <div class="album-info">
          <div class="album-info-text">
            <a class="album-title">{{ data.album.title }}</a>
            <br />
            <a class="artist-name">{{ data.album.artist }}</a>
          </div>
        </div>

        <div class="rating">
          <img
            src="{{ url_for('static', filename='img/daytona.jpg') }}"
            alt="Daytona"
            width="100%"
            style="filter: blur(6px);"
          />
          <a class="score">{{ data.album.score }}</a>
        </div>

        <div class="review-info">
          <div class="test-class">
            <a class="review-info-text">Jon&nbsp;Martin<br />
              March&nbsp;26th,&nbsp;2019</a>
          </div>
        </div>
        <br style="clear: both;" />
      </div>

      <!--Container for the actual review-->
      <div class="review">
        <h2><u>Overview</u></h2>
        <p>{{ data.review.overview }}</p>
        <br />

        <h2><u>Song by Song</u></h2>
        {% for song in data.review.songs %}
            <h4>{{ song }}</h4>
            <p>{{ song }}</p>
            <br />
        {% endfor %}

        <h2><u>Summary</u></h2>
        <p>{{ data.review.summary }}</p>
      </div>

      <!--Might not include this, who knows.-->
      <div class="footer"></div>
    </div>
  </body>
</html>
